/*

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

*/

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
  }


html, body {
     width: 100%;
     overflow-x: hidden;
  }

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
	color: #00C6D7;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#work, #contact {
   padding-top: 1px;
  padding-bottom: 100px;
}


/* ==========================================================================
preloader section
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner {
  width: 22px;
  height: 22px;
  position: relative; }
.sk-spinner-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
.sk-spinner-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #00c6d7;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.sk-spinner-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-spinner-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-spinner-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-spinner-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-spinner-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-spinner-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-spinner-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-spinner-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-spinner-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-spinner-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-spinner-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-spinner-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-spinner-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-spinner-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-spinner-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-spinner-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-spinner-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-spinner-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-spinner-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }


/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
    padding-right: 70px;
}
.custom-navbar .navbar-brand  {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    }
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    }
.custom-navbar .nav li a:hover {
  	background: transparent;
   color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.custom-navbar .nav li.active > a {
      color: #ffff00;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #ffff00;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar {
            background: #4B4B4B;
            padding: 10px;
            border-bottom: 0;
            background: 0 0;
         }
    .custom-navbar.top-nav-collapse {
            padding: 8px;
            background: #4B4B4B;
        }
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 45px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#home h3 {
  font-size: 14px;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: #ffffff;
  border: transparent;
  border-radius: 3em;   <!--  changed from 0 to give roundish look -->
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 38px;
  margin-top:40px;
  margin-right: 20px;
  transition: all 0.4s ease-in-out;
}




#home .btn-default {
  background: #ffffff;
  color:  #000000;
  padding-left: 58px;
  padding-right: 58px;
}

#home .btn-danger {
    background: #ffffff;
  border-color: #ffffff;
  color:  #000000;
}

#home .btn:hover {
	background: #ffff00;
  	color: #000000;
}


.youtube {
margin-right: auto;
margin-left: auto;
display:block;
width:700px;
}


/* ==========================================================================
work section
========================================================================== */
#work {
text-align: center;
    background: #3B3B3B url('https://3.bp.blogspot.com/-0OhUytEhtiw/WPfWLL78rGI/AAAAAAAAARc/woDQ3MJ6iCMmbzS_VuMRxd5o4lylbVzbQCLcB/s1600/pointint%2Bto%2Bscreen%2B1080HD.jpg') no-repeat center center;  
  background-size: cover;
  color: #ffffff;
    height: 100vh;


}

#work h3 {
  margin-top: 0px;
  font-size: 18px;
}

/* ==========================================================================
Centers Youtube Video per page at 80% of page.
========================================================================== */
.video-wrapper {position: relative; 
							  padding-bottom: 56.25%; /* 16:9 */  
							  padding-top: 25px; 
							  margin: auto;}
.video-wrapper iframe {position: absolute; 
							   		  top: 20%; 
									  left: 25%; 
									  width: 100%; 
									  height: 100%;
}
.container {width: 100%;  margin: auto; }









/* ==========================================================================
contact section  contact-bg.jpg
========================================================================== */
#contact {
  background: #3B3B3B url('https://2.bp.blogspot.com/-nyM8xEx_40M/WPfbfVDHmRI/AAAAAAAAAR4/AfUIDLnzJTYHbFoHYCI_hiCJlCon2eZLQCLcB/s1600/Business%2BReel%2B55pct%2Bd%2Btop-bottom%2Bbars2.jpg') no-repeat center center;  
  background-size: cover;
  color: #ffffff;

 padding-bottom: 590px;


overflow: auto
}
#contact h1 {
 padding-bottom: 330x;
  margin-top: 60px;
  font-size: 40px;
}

#contact h2 {
   margin-top: 20px;
  padding-bottom: 20px;
  color: #ffff00;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

#contact h4 {
  font-size: 15px;
  font-weight: Normal;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* ==========================================================================
#contact form {
  padding-top: 20px;
}
#contact .form-control {
  border: 2px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;

}
#contact input {
  height: 40px;
 
}
#contact input[type="submit"] {
  background: #004080;
  border: 3px solid #004080;
  border-radius: 3em;   <!--  changed from 0 to give roundish look -->
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 18px;
  font-size: 19px;
  height: 50px;
  color: #ffffff;
}
#contact input[type="submit"]:hover {
  color: #ffffff;
  background: #3B5E2B;
  border: 3px solid #3B5E2B;
}
 
#contact input[type="reset"] {
  background: #004080;
  border: 3px solid #004080;
  border-radius: 3em;   <!--  changed from 0 to give roundish look -->
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 18px;
  height: 50px;
  font-size: 19px;
  color: #ffffff;
}
#contact input[type="reset"]:hover {
  background: #CC3232; 
  border: 3px solid #CC3232;
  color: #ffffff;
}

========================================================================== */


/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 24px;
  }
  #home h3 {
    font-size: 12px;
  }

  #contact {
    padding-bottom: 20px;
  }
  #contact h1 {
    font-size: 24px;
  }
  #contact h3 {
    font-size: 12px;
  }


/* Portrait */
@media screen and (orientation:portrait) {
    .video-wrapper iframe {
							   		  top: 45%; 
                                      left: 20%
									}
   /* Portrait styles here */
}

}

@media screen  {
		.custom-navbar {
			padding-right: 0px;
                                }
}

